.content {
    position: absolute;
    background-color: rgb(190, 212, 231);
    height: 100vh;
    width: 100vw;
}

.carousel-frame {
    height: 250px;
    width: 200px;
    display: flex;
    margin: 30px auto 0;
}

.image-container {
    height: 250px;
    width: 200px;
    flex-shrink: 0;
    overflow: hidden;
}

img {
    object-fit: cover;
}

.button-row {
    background-color: white;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    gap: 5px;
}

.placekeeper-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1 0 auto;
    overflow: hidden;
}

.placekeeper-div > * {
    border: 1px solid gray;
    width: 100%;
    max-width: 10px;
    border-radius: 50%;
}

.placekeeper-div > *:before {
    display: block;
    content: '';
    margin-top: 100%;
}

.attribution {
    text-align: center;
}