.content {
    position: absolute;
    background-color: rgb(190, 212, 231);
    height: 100vh;
    width: 100vw;
}

.carousel-frame {
    height: 250px;
    width: 200px;
    overflow: hidden;
    display: flex;
    margin: 30px auto 0;
}

.image-container {
    height: 250px;
    width: 200px;
    flex-shrink: 0;
}

img {
    object-fit: cover;
}

.button-row {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}